<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Your Orders</title>
    {% include 'bootstrap.html' %}
</head>
<body>
    {% include 'banner.html' %}
    {% include 'nav.html' %}
    <div>
      <h1>Your Orders</h1>
      <ul class="list-group">
          {% for order in user_orders %}
              <li class="list-group-item list-group-item-light">
                  <b>Order ID: </b>{{ order['order_id'] }}
                <br>
                  <b>Order Date: </b>{{ order['order_date'] }}
                <br>
                  <b>Total Amount: </b>${{ order['total_amount'] }}
              </li>
          {% endfor %}
      </ul>
      {% include 'footer.html' %}
    </div>
</body>
</html>

