<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Order Success</title>
    {% include 'bootstrap.html' %}
</head>
<body>
    {% include 'banner.html' %}
    {% include 'nav.html' %}
        <h1>Order Successful!</h1>
    <div id="container">
        <p>Your order has been placed successfully. Thank you for your purchase.</p>
        <p>Total Amount: ${{ total_amount }}</p>
    </div>
</body>
</html>

